<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filetype</key>
	<string>aif</string>
	<key>filename</key>
	<string>loopData/drum_simple</string>
	<key>beats</key>
	<integer>16</integer>
	<key>bpm</key>
	<integer>100</integer>
	<key>beat values</key>
	<dict>
		<key>01 note_1</key>
		<array>
			<integer>0</integer>
			<real>0.75</real>
			<real>1.5</real>
			<real>2.5</real>
			<integer>4</integer>
			<real>4.75</real>
			<real>5.5</real>
			<real>6.5</real>
			<integer>8</integer>
			<real>8.75</real>
			<real>9.5</real>
			<real>10.5</real>
		</array>
		<key>02 note_2</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
		</array>
		<key>03 note_3</key>
		<array>
			<real>12.5</real>
			<real>14.5</real>
		</array>
		<key>04 high tom</key>
		<array>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>05 low tom</key>
		<array>
			<integer>14</integer>
			<integer>15</integer>
		</array>
	</dict>
	<key>eq values</key>
	<dict>
		<key>01 kick</key>
		<dict>
			<key>bandwidth</key>
			<real>0.1</real>
			<key>frequency</key>
			<integer>64</integer>
		</dict>
		<key>02 snare</key>
		<dict>
			<key>bandwidth</key>
			<real>0.05</real>
			<key>frequency</key>
			<integer>133</integer>
		</dict>
		<key>03 hi hat</key>
		<dict>
			<key>bandwidth</key>
			<real>0.1</real>
			<key>frequency</key>
			<integer>324</integer>
		</dict>
		<key>04 high tom</key>
		<dict>
			<key>bandwidth</key>
			<real>0.25</real>
			<key>frequency</key>
			<integer>2060</integer>
		</dict>
		<key>05 low tom</key>
		<dict>
			<key>bandwidth</key>
			<real>0.25</real>
			<key>frequency</key>
			<integer>10030</integer>
		</dict>
	</dict>
</dict>
</plist>
